html {
 background-color: #FFF;
}
body {
 background-color: #FFF;
 color: #222;
 font-family: Verdana, "Bitstream Vera Sans", sans-serif;
 font-size: 100%;
 line-height: 1.5;
 margin: 0 auto;
 padding: 10px;
}
section {
 display: block;
}
header {
 display: block;
 font-size: 13px;
 min-height: 2em;
}
header h1 {
 background: url(icon_32.png) no-repeat left;
 height: 30px;
 margin-bottom: 10px;
 margin-top: 0px;
 padding-left: 40px;
 padding-top: 5px;
}
footer {
 display: block;
 font-size: 77%;
 margin-top: 4em;
 text-align: center;
}
p {
 clear: both;
}
fieldset {
 border: 1px solid #999;
 padding: 10px;
}
legend {
 color: #999;
 font-size: 77%;
 padding: 0.1em 0.3em;
 text-align: left;
}
label {
 color: #222;
 float: left;
 margin-bottom: 0.1em;
 margin-right: 0.5em;
 margin-top: 0.1em;
 text-align: right;
 width: 80px;
}
.labelvert {
 margin: 0em 0em 1em 0em;
 padding: 0.1em 1em 0em 0em;
 width: auto;
}
input[type=text], textarea {
 background-color: #fff;
 border: 1px solid #bbb;
 margin: 0;
 padding-left: 3px;
 font-size: 13px;
}
input[type=button] {
 float: right;
 margin-right: 25px;
}
textarea {
 height: 100px;
}
#loader {
 background: url(loader.gif) no-repeat center 5px;
 height: 30px;
 padding-top: 50px;
 text-align: center;
 width: 100%;
}
#response p {
 clear: both;
}
#response p span {
 clear: both;
 margin-bottom: 1em;
 margin-top: 0.1em;
 min-height: 20px;
 width: 80px;
}
#responseData {
 min-height:20px;
 border: 1px solid #BBB;
 padding-left: 3px;
 overflow: auto;
 position:relative;
}
